*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg,  #eec0c6 0%, #7ee8fa 74%);
    padding: 10px;
    overflow: hidden
}

.container{
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}

.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative; 
}
.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: #9b59b6
}

.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;

}


form .user-details .input-box {
    width: calc(100% / 2 - 20px );
    margin-bottom: 15px;

}
.user-details .input-box  .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 1;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    
}

.user-details .input-box input:focus{
    border-color: #9b59b6

}
.user-details .input-box input:valid{
    border-color: #9b59b6
}

 form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
}
form .gender-details .category{
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: 14px 0;
    

}
.gender-details .category label{
    display: flex;
    align-items: center;
    
    
}
.gender-details .category .dot{
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-left: 10px;
    border: 5px solid transparent;
    transition: all 0.3s ease;


}
#dot-1:checked ~ .category label .one{
    border-color: #d9d9d9;
    background: #9b59b6; 
}
#dot-2:checked ~ .category label .two{
    border-color: #d9d9d9;
    background: #9b59b6; 
}

#dot-3:checked ~ .category label .three{
    border-color: #d9d9d9;
    background: #9b59b6; 
}
form input [type="radio"]{
    display: none;
}


form .button{
    height: 45px;
    margin: 45px 0;
}
form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px; 
    background: linear-gradient(-135deg,  #71b7e6 0%, #9b59b6 74%);
    transition: 0.8s;

}

form .button input:hover{
    background: linear-gradient(-135deg,  #9b9b9b 0%, #71b7e6 74%);
    color: black

}

.social-link{
    display: flex;
    flex-direction: column;
    
}


.social-link p{
    text-align: center;
    margin: 0px 0px 30px ;  
}

.social-link .link-box{
    display: flex;
    justify-content: space-evenly;
    
}

.social-link .link-box a{
    color: #ffffff;
    padding: 8px;
    width: calc(33.33% 15px);
    transition: box-shadow .5s ease;
}


.social-link .link-box a:hover{
    box-shadow: 0px 0px 10px gray
}

.social-link .link-box a.Facebook{
    background-color: #4567ab;

}
.social-link .link-box a.Google{
    background-color: #dd4234;

}
 .social-link .link-box a.Twitter{
    background-color: #2fcdfe;

}







@media (max-width: 548px){
    .container{
        max-width: 100%;
    }
    form .user-details .input-box {
        width: 100%;
        margin-bottom: 15px;

        }
    form .gender-details .category{
            width: 100%; 
        } 
        .container form .user-details{
          max-height: 300px;
          overflow-y:scroll;
            
        }
        .user-detail::-webkit-scrollbar{
            width:0;
        }

}
